rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // OFFRES
    match /offres/{offerId} {
      // 🔹 Autorise la lecture (get et list) pour tous les utilisateurs connectés
      allow read: if request.auth != null;

      // 🔹 Création autorisée seulement si l'utilisateur est le propriétaire
      allow create: if request.auth != null 
                    && request.auth.uid == request.resource.data.userId;

      // 🔹 Modification / suppression uniquement par le propriétaire
      allow update, delete: if request.auth != null 
                            && request.auth.uid == resource.data.userId;
    }

    // USERS (PROFIL)
    match /users/{userId} {
      // L'utilisateur peut lire uniquement son propre profil
      allow read: if request.auth != null 
                  && request.auth.uid == userId;

      // L'utilisateur peut créer son propre profil
      allow create: if request.auth != null 
                  && request.auth.uid == userId;

      // L'utilisateur peut modifier son propre profil
      allow update, delete: if request.auth != null 
                    && request.auth.uid == userId;
    }

    /**
     * @description Conversations privées
     */
    match /conversations/{conversationId} {
      allow read, write: if request.auth != null && (request.auth.uid in resource.data.participants);
    }
  }
}